#build directories
Debug/*.*
Release/*.*
x64/Debug/*.*
x64/Release/*.*
files/*.*
CompLibrary/Release/*.*
CompLibrary/Debug/*.*
CompLibrary/x64/Release/*.*
CompLibrary/x64/Debug/*.*
CLib/Release/*.*
CLib/Debug/*.*
CLib/x64/Release/*.*
CLib/x64/Debug/*.*
ArcTests/obj/*
ArcTests/bin/*
.vs/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cache
ArcTests/obj/Release/App.g.cs
*.pdb
*.tlog
